<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="lib/vue-2.4.0.js"></script>
</head>

<body>
    <div id="app">
        <!-- <input type="text" v-model='a' @keyup='getFull'>+
        <input type="text" v-model='b' @keyup='getFull'>=
        <input type="text" v-model='c'> -->
        <input type="text" v-model='a'>+
        <input type="text" v-model='b'>=
        <input type="text" v-model='c'>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: '',
                b: '',
                c: ''
            },
            methods: {
                // getFull() {
                //     this.c = this.a + '--' + this.b
                // }
            },
            watch: {
                'a': function(newVal, oldVal) {
                    this.c = newVal + '-' + this.b
                },
                'b': function(newVal) {
                    this.c = this.a + '-' + newVal
                }
            }
        })
    </script>
</body>

</html>